/* #1ABC9C */
#header{ display:none;}
body #content{}
#slider .slider-caption.slider-caption-center{ top: 0 !important;}
#slider .slider-caption{ color:#1ABC9C;}
#slider .slider-caption h2{ color:white;}
.imagePandaLogo{ width : 300px;background: #1ABC9C;padding-left : 20px; margin-bottom : 20px;}
.listTarif{ list-style:none;}
.section{background: #1ABC9C;}
.btn-primary{background: #1ABC9C;}
.btn-primary:hover{background: rgba(26,188,156,0.8);}
#page-menu.dots-menu nav li a {border: 1px solid rgba(26,188,156,0.8);}
.fixcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wikiquote{background:olive;}